[Unit]
Description=Run KuCoin lane weekly monitoring analysis

[Timer]
OnCalendar=Mon *-*-* 00:20:00
Persistent=true
Unit=kucoin-monitoring-weekly-analysis.service

[Install]
WantedBy=timers.target
